* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

html,
body {
    height: 100%;
}

body {
    width: 960px;
    font-family: 'Fresca', sans-serif;
    margin: 0 auto;
    background: #fc9b00;
}

.container-body {
    min-height: 100%;
    position: relative;
}

.header {
    font-size: 20px;
    text-align: center;
    color: #C0BFC3;
    text-shadow: 1px 1px 2px black, 0 0 25px #333, 0 0 5px #333;
    background: #333;
    margin-bottom: 20px;
    border-radius: 0 0 50px 50px;
}

.header h1 {
    padding: 20px 30px;
}

.content {
    display: flex;
    margin-bottom: 20px;
    background: #333;
    padding-bottom: 50px;
    border-radius: 0 50px;
}

.content h2 {
    color: #C0BFC3;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px #333, 0 0 5px #333;
}

.content p {
    text-indent: 30px;
    color: #C0BFC3;
    line-height: 25px;
}

#p3 {
    text-indent: 0%;
}

.content hr {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(153, 153, 155, 0), rgba(230, 228, 228, 0.75), rgba(44, 44, 44, 0));
}

.box1 {
    flex: 2;
    padding: 10px;
}

.box2 {
    flex: 1;
    padding: 10px;
}

.box2 ul li {
    list-style: none;
    color: #C0BFC3;
    line-height: 50px;
}

span {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

span:hover {
    color: #fc9b00;
}

.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #333;
    padding: 30px 0 0 5px;
    text-shadow: 1px 1px 2px black, 0 0 25px #333, 0 0 5px #333;
    color: #C0BFC3;
    border-radius: 50px 50px 0 0;
}